<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/brand_logo.PNG" width="180px"  />
            <br>
            <br>
            <h1>Documentation Auto Generator</h1>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" ngModel id="user" name="user" placeholder="SSO"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="pass" name="pass" ngModel placeholder="Password"
                            required>
                    </div>
                </div>
                <!--a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a-->
                <button class="btn rounded-btn" type="submit" [disabled]="!f.valid">Sign in</button>
                &nbsp;
                <!--a class="btn rounded-btn" [routerLink]="['/signup']">Register</a-->
            </form>
            <br>
            <div [hidden]="!isLoad">Please wait.....</div>
            <br>
            <br>
            <div class="alert alert-success" [hidden]="!isSuccess">
                Login successful! Redirecting.....
            </div>
            <div class="alert alert-danger" [hidden]="!isFail">
                Login failed. Please check your credentials.
            </div>
        </div>
    </div>
</div>